<ion-header>
  <ion-navbar class="main-background">
    <ion-title class="ion-title-color">
      <button style="display : inline-block" ion-button menuToggle>
        <div class="avarta">
          <img style="height : 30px;width : 30px;border-radius : 100%" src="{{BASE_URL}}public/img/avartar/{{user.avartar == null ? 'no-avartar.png' : user.avartar}}">
        </div>
      </button>
      Ionic Home
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content  style="height : 100%;width : 100%">  
  <ion-list>
    <ion-item class="admin chat-home" id="admin_{{admin.id}}" *ngFor="let admin of listAdmin" (click)="chooseAdmin(admin)">
      <ion-avatar item-start style="position : relative">
          <img src="{{BASE_URL+'public/img/avartar/'}}{{admin.avartar == null ? 'no-avartar.png' : admin.avartar}}">
          <span style="display : none" class="pull-right messageNotSeen">0</span>
          <span class="pull-right iconAcitveFB"></span>
      </ion-avatar>
      <h2>{{admin.name}}</h2>
      <p>{{admin.last_message}}</p>
    </ion-item>
    <h3 *ngIf="listAdmin.length == 0 " style="color: #ccc;text-align: center">KHÔNG CÓ TIN NHẮN NÀO</h3>
  </ion-list>
</ion-content>
  